

body {
    height: 100vw;
    width: 100vw;
    background-color: #0f0011;
    position: absolute;
    overscroll-behavior: none;
    display: grid;
    grid-template-columns: auto 335px auto ;
}

.case {
    margin: 3vw;
    height: 728px;
    width: 100%;
    grid-column-start: 2;
    grid-column-end: 2;
    border-radius: 70px;
    background: #000000;
    box-shadow:  -20px 20px 39px #69056bb9, 20px -20px 39px #b6101098;
    padding: 15px;
    position: absolute;
}



.frame {
    height: inherit;
    width: 335px;
    grid-column: 2;
    border-radius: 60px;
    background: linear-gradient(225deg, #b238da, #ec1027);
    position: absolute;
    display: grid;
    grid-template-rows: max-content 60px min-content min-content auto;
}

.tab {
    position: unset;
    background-color: #000000;
    margin-left: auto;
    margin-right: auto;
    border-radius: 0px 0px  30px 30px;
    height: 22px;
    width: 180px;
    grid-row: 1;
}

.top-dops {
    grid-row: 2;
    display: flex;
    width: 300px;;
    justify-content: space-between;
    margin: 0px 0px 0px 20px;
    position: absolute;
}

.top-dot {
    height: 70px;
    width: 70px;
    border-radius: 50%;
    background: #994c57;
    box-shadow: -8px 8px 16px #2b0f12, 
                8px -8px 16px #9b9ee6;
}

#top-dot-1 {
    grid-column: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

#top-dot-2 {
    grid-column: 2;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.top-dot-inner-1 {
    height: 60px;
    width: 60px;
    border-radius: 50%;
    background: linear-gradient(225deg, #503638, #a46b71);
    box-shadow:  -27px 27px 53px #4e3336, 
                 27px -27px 53px #e4959e8e;
                 background-image: url("https://images-na.ssl-images-amazon.com/images/I/51TxXo0RLgL.png");
                 background-size: cover;
}

.top-dot-inner-2 {
    height: 60px;
    width: 60px;
    border-radius: 50%;
    background: linear-gradient(225deg, #503638, #a46b71);
    box-shadow:  -27px 27px 53px #4e3336, 
                 27px -27px 53px #e4959e8e;
}

.dots {
    grid-row: 3;
    margin-left: auto;
    margin-right: auto;
    height: 275px;
    width: 275px;
    border-radius: 50%;
    background: #ee97a6;
    box-shadow:  -20px 20px 39px #440f15, 
                 20px -20px 39px #ad3b4a;
    display: flex;
    justify-content: center;
    align-items: center;
}

.inner-dot {
    margin-left: 3px;
    margin-bottom: 5px;
    height: 270px;
    width: 270px;
    border-radius: 50%;
    background: linear-gradient(225deg, #5f0b15, #14777200);
    box-shadow:  -27px 27px 53px #49191e, 
                 27px -27px 53px #e4959e8e;
}

.app-container {
    grid-row: 4;
    width: 325px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-end;
    
}

.app {
height: 65px;
width: 65px;
margin: 2%;
border-radius: 50%;
background: #994c57;
box-shadow: -8px 8px 16px #2b0f12, 
            8px -8px 16px #ad3b4a7c;
display: flex;
justify-content: center;
align-items: center;
}

.app-inner {
    height: 60px;
    width: 60px;
    border-radius: 50%;
    background: linear-gradient(225deg, #503638, #a46b71);
    box-shadow:  -27px 27px 53px #4e3336, 
                 27px -27px 53px #e4959e8e;
    display: flex;
    justify-content: center;
    align-items: center;
}

.app-icon {
    background-image: url("https://designroast.org/wp-content/uploads/2014/01/flat-jelly.png");
    /* background-color: rgba(255, 255, 255, 0.192); */
    height: 55px;
    width: 55px;
    background-size: cover;
    opacity: .7;
    border-radius: 50%;
}

.active {
    background: linear-gradient(225deg, #88444d, #a2505b);
             box-shadow: inset -11px 11px 31px #653239, 
                         inset 11px -11px 31px #c96471;
}

.app-active {
    height: 53px;
    width: 53px;
}

.notes-container {
    grid-row: 5;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.note {
    margin: 3%;
    width: 300px;
    height: 100px;
    border-radius: 20px;
    background: rgba(141, 51, 63, 0);
box-shadow: inset 28px 28px 56px #64242d, 
            inset -28px -28px 56px #b64251;
    display: grid;
    grid-template-rows: auto 35px;
}

.note-top {
    display: flex;
    flex-direction: row;
    margin-left: 15px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 2.6vw;
    color: rgba(255, 255, 255, 0.938);
    justify-content: space-between;
    align-items: center;
}

.note-bottom {
    background-color: rgba(0, 0, 0, 0.239);
    border-radius: 0px 0px 20px 20px;
    display: flex;
    align-items: center;
}

.note-bottom #day-initial{
    color: rgba(255, 255, 255, 0.63);
    margin: 0;
    margin-left: 15px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 1.3vw;
}




  .menu {
    position: relative;
    display: block;
    width: 40px;
    height: 40px;
    margin-right: 17px;
  }
  .menu .pix {
    position: absolute;
    width: 8px;
    height: 8px;
    background-color: #be6496;
    border-radius: 50%;
    -webkit-transition: 0.2s ease-in-out;
    transition: 0.2s ease-in-out;
  }
  .menu .pix:nth-of-type(1) {
    -webkit-transform: translate(0px, 0px);
            transform: translate(0px, 0px);
  }
  .menu .pix:nth-of-type(2) {
    -webkit-transform: translate(16px, 0px);
            transform: translate(16px, 0px);
  }
  .menu .pix:nth-of-type(3) {
    -webkit-transform: translate(32px, 0px);
            transform: translate(32px, 0px);
  }
  .menu .pix:nth-of-type(4) {
    -webkit-transform: translate(0px, 16px);
            transform: translate(0px, 16px);
  }
  .menu .pix:nth-of-type(5) {
    -webkit-transform: translate(16px, 16px);
            transform: translate(16px, 16px);
  }
  .menu .pix:nth-of-type(6) {
    -webkit-transform: translate(32px, 16px);
            transform: translate(32px, 16px);
  }
  .menu .pix:nth-of-type(7) {
    -webkit-transform: translate(0px, 32px);
            transform: translate(0px, 32px);
  }
  .menu .pix:nth-of-type(8) {
    -webkit-transform: translate(16px, 32px);
            transform: translate(16px, 32px);
  }
  .menu .pix:nth-of-type(9) {
    -webkit-transform: translate(32px, 32px);
            transform: translate(32px, 32px);
  }
  .menu:hover .pix {
    background-color: rgb(255, 255, 255);
    border-radius: 0%;
  }
  .menu:hover .pix:nth-of-type(1) {
    -webkit-transform: translate(-8px, -8px);
            transform: translate(-8px, -8px);
  }
  .menu:hover .pix:nth-of-type(3) {
    -webkit-transform: translate(40px, -8px);
            transform: translate(40px, -8px);
  }
  .menu:hover .pix:nth-of-type(7) {
    -webkit-transform: translate(-8px, 40px);
            transform: translate(-8px, 40px);
  }
  .menu:hover .pix:nth-of-type(9) {
    -webkit-transform: translate(40px, 40px);
            transform: translate(40px, 40px);
  }
  .menu.activated .pix:nth-of-type(1) {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
  .menu.activated .pix:nth-of-type(2) {
    -webkit-transform: translate(8px, 8px);
            transform: translate(8px, 8px);
  }
  .menu.activated .pix:nth-of-type(3) {
    -webkit-transform: translate(32px, 0);
            transform: translate(32px, 0);
  }
  .menu.activated .pix:nth-of-type(4) {
    -webkit-transform: translate(8px, 24px);
            transform: translate(8px, 24px);
  }
  .menu.activated .pix:nth-of-type(6) {
    -webkit-transform: translate(24px, 8px);
            transform: translate(24px, 8px);
  }
  .menu.activated .pix:nth-of-type(7) {
    -webkit-transform: translate(0, 32px);
            transform: translate(0, 32px);
  }
  .menu.activated .pix:nth-of-type(8) {
    -webkit-transform: translate(24px, 24px);
            transform: translate(24px, 24px);
  }
  .menu.activated .pix:nth-of-type(9) {
    -webkit-transform: translate(32px, 32px);
            transform: translate(32px, 32px);
  }
  .menu.activated:hover .pix:nth-of-type(1) {
    -webkit-transform: translate(-8px, -8px);
            transform: translate(-8px, -8px);
  }
  .menu.activated:hover .pix:nth-of-type(2) {
    -webkit-transform: translate(4px, 4px);
            transform: translate(4px, 4px);
  }
  .menu.activated:hover .pix:nth-of-type(3) {
    -webkit-transform: translate(40px, -8px);
            transform: translate(40px, -8px);
  }
  .menu.activated:hover .pix:nth-of-type(4) {
    -webkit-transform: translate(4px, 28px);
            transform: translate(4px, 28px);
  }
  .menu.activated:hover .pix:nth-of-type(6) {
    -webkit-transform: translate(28px, 4px);
            transform: translate(28px, 4px);
  }
  .menu.activated:hover .pix:nth-of-type(7) {
    -webkit-transform: translate(-8px, 40px);
            transform: translate(-8px, 40px);
  }
  .menu.activated:hover .pix:nth-of-type(8) {
    -webkit-transform: translate(28px, 28px);
            transform: translate(28px, 28px);
  }
  .menu.activated:hover .pix:nth-of-type(9) {
    -webkit-transform: translate(40px, 40px);
            transform: translate(40px, 40px);
  }
  